table {
  width: 100%;
  border-collapse: collapse;
}
.table {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
thead {
  width: 100%;
  border: 2px solid blue;
}
tbody {
  width: 100%;
  border: 2px solid blue;
}
table th {
  padding: 15px 0;
  background-color: #3c6b94;
  color: #fff;
  font-size: 22px;
  border: 1px solid #fff;
}

table tr {
  padding: 15px 0;
  background-color: rgb(101, 101, 146);
  color: #fff;
  font-size: 22px;
  border: 2px solid #fff;
}
h1 {
  text-align: center;
}
